{% extends "layout.html" %}

{% block title %}
    Show
{% endblock %}

{% block main %}

    <div class="mb-3">
        {% if credit > 0 %}
        <p>Vous avez <b>{{credit}}</b> crédits</p>
        <p>Votre dernière connexion était le <b>{{last_login}}</b></p>
        {% else %}
        {% endif %}
    </div>
    <div class="mb-3">
        {%if links %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        Titre
                    </th>
                    <th scope="col">
                        Description
                    </th>
                    <th scope="col">
                        Vues
                    </th>
                    <th scope="col">
                        Origine
                    </th>
                    <th scope="col">
                        Destination
                    </th>
                </tr>
            </thead>
            <tbody>

                {% for link in links %}
                <tr>
                        <td>{{ link.title }}</td>
                        <td>{{ link.description }}</td>
                        <td>{{ link.views }}</td>
                        <td>
                            <a href={{link.origin}} target="_blank">
                                {{link.origin}}
                            </a>
                        </td>
                        <td>
                            <a id="destination" target="_blank" href="{{link.destination}}">
                                {{link.destination}}
                            </a>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {%else%}
        <p>Aucun lien raccourci pour le moment</p>
        {%endif%}

    </div>
    {% block javascript %}

    <!-- Le contenu de myscript.js sera chargé dans la balise script -->
        <script type="text/javascript">
            x = window.location.href
            url = document.querySelectorAll("#destination")

            url.forEach((item)=>
            {
                item.innerText = `${item.href}`
            }
            )
        </script>
    {% endblock %}
{% endblock %}
